.btn1 {
    background-color: blueviolet;
}

.btn2 {
    background-color: aqua;
}

.btn3 {
    background-color: red;
}

body {
   background-image: url(https://cdn.discordapp.com/attachments/876035186305941524/876370018739290162/8c66a231371ce6f1.png);
}
